
<br><br><br><br>
<ul>
    <% if (user) { %>
    <li><a href="/delete">Delete account</a></li>
    <li><a href="/update-password">Update Password</a></li>
    <% } %>
  </ul>
<footer>Don't forget to have fun!</footer>

</body>
</html>
