<%- include('partials/header'); -%>

  <form action="/delete">
    <h2>Update password</h2>

    <label for="email">Email</label>
    <input type="text" name="email" value="<%= user.email %>" readonly />
    <div class="email error"></div>

    <label for="password">Password</label>
    <input type="password" name="password"  />
    <div class="password error"></div>

    <label for="new_password">New Password</label>
    <input type="password" name="new_password"  />

    <button>update</button>
  </form>

<%- include('partials/footer'); -%>

<script>
  const form = document.querySelector('form');
  const emailError = document.querySelector('.email.error');
  const passwordError = document.querySelector('.password.error');

  form.addEventListener('submit', async (e) =>
    {
      e.preventDefault();

      // reset errors
      emailError.textContent = '';
      passwordError.textContent = '';

      // get values
      const email = form.email.value;
      const password = form.password.value;
      const newPassword = form.new_password.value;

      try
      {
        const res = await fetch('/update-password',
        { 
          method: 'POST', 
          body: JSON.stringify({ email, password, newPassword }),
          headers: {'Content-Type': 'application/json'}
        });

        const data = await res.json();
        if (data.errors)
        {
          emailError.textContent = data.errors.email;
          passwordError.textContent = data.errors.password;
        }
        
        if (data.user) location.assign('/');
      }

      catch (err) { console.log(err); }
    });
</script>